<VirtualHost *:{{ http_port }}>
    ServerName catchall
    <Location />
        Order allow,deny
        Deny from all
    </Location>
</VirtualHost>

<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@{{ http_domain }}
    ServerName {{ http_domain }}
    ServerAlias www.{{ http_domain }}
    DocumentRoot /var/www/{{ http_domain }}/wordpress
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ http_domain }}>
          Options -Indexes
          AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>
